# Python virtual environment
venv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Data and models (binary or large files)
data/
models/

# IDE / Editor settings
.vscode/
.idea/

# Logs
*.log

# MacOS
.DS_Store

# Windows
Thumbs.db

# Other
*.egg-info/
